
wp-content/uploads/simply-static/temp-files/simply-static-1-1695300934/wp-json/wp/v2/pages/183/index.html
*.html
wp-content/uploads/simply-static/temp-files/simply-static-1-1695300934/wp-content/plugins/depicter/resources/scripts/player/depicter.js
*.css
*.md
*.json
*.png
*.js
*.txt
*.gif
*.svg
*.jpg
*.php
*.eot
*.ttf
*.woff
*.woff2
*.otf
